/*Bootstrap override*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  all: revert;
}

body {
  text-align: center;
  color: #303030;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

canvas {
  width: 100% !important;
}

.charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chart {
  width: 70vw;
  border-radius: 30px;
  margin: 30px;
  -webkit-box-shadow: 0px 0px 20px 5px grey;
          box-shadow: 0px 0px 20px 5px grey;
}

.chart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5% 0 5%;
}

.title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.details {
  width: -webkit-fill-available;
  text-align: right;
}

.chart-info h1 {
  margin-left: 10px;
}

@media (max-width: 900px) {
  .chart-info {
    font-size: 0.7rem;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.multiselect, .select {
  margin: 10px;
  cursor: pointer;
}

.multiselect:active, .select:active {
  outline: none;
  border: none;
}

.selectBox {
  padding: 8px 0;
  width: 200px;
  border: 1px solid #303030;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.selectBox:hover {
  background-color: #303030;
  color: white;
}

.checkboxes, .labels {
  border-radius: 10px;
  width: 200px;
  position: absolute;
  display: none;
  background-color: transparent;
  color: white;
  -webkit-backdrop-filter: brightness(0.4) blur(4px);
          backdrop-filter: brightness(0.4) blur(4px);
}

.checkboxes label, .checkboxes input, .labels label {
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}

.checkboxes label, .labels label {
  font-weight: bold;
  display: block;
  padding: 10px;
}

.checkboxes label:hover, .labels label:hover {
  background-color: #303030;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=styles.css.map */