body {
    text-align: center;
    color: #303030;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    width: 60%;
    border-radius: 30px;
    margin: 30px;
    box-shadow: 0px 0px 20px 5px grey;
}


.card-info {
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}

.title {
    display: inline-flex;
}

.details{
    width: -webkit-fill-available;
    text-align: right;
}

.card-info h1 {
    margin-left: 10px;
}

canvas{
    width: 100%;
    min-height: 200px !important;
}

@media (max-width: 900px) {

    .card-info{
        font-size: 0.7rem;
    }

    .card{
        width: 80%;
        
    }
}

@media (max-width: 400px) {

    .card-info{
        font-size: 0.7rem;
    }

    .card{
        width: 80%;
        height: 100%;
        
    }

    // canvas{
    //     height: 200px !important;
    // }
}